body {
  display: flex;
  justify-content: center;
  background-image: url("img/tribune.jpeg");
  background-position: center center;
}

h1 {
  /*position: relative;
  bottom: 65px;
  left: 40px;*/
  text-shadow: 10px 10px 10px black;
}

#welcome {
  color: blue;
  font-weight: bold;
  text-shadow: 10px 10px 10px blue;
}

p {
  text-shadow: 10px 10px 10px black;
}

.player {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: -10px;
  left: -10px;
  z-index: 2;
}

.hitbox {
  position: absolute;
  border-radius: 99999px;
  width: 49px;
  height: 49px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: -10px;
  background-color: blue;
  opacity: 0.3;
}

  #player-one {
    background-image: url("img/player1.png");
    width: 8%;
  }

  #player-two {
    background-image: url("img/player2.png");
    width: 8%;
  }

  .TDLine {
    position: absolute;
    z-index: 2;
    background-color: #DD0011;
    padding: 0 67px;
  }

 #field {
  position: relative;
  margin-top: 19px;
  background-image: url("img/fond2.jpg");
  background-size: cover;
  background-position: center center;
  width: 400px;
  height: 635px;
 }

 #win {
   color: white;
   font-size: 42px;
   font-family: Arial, Helvetica, sans-serif;
   position: absolute;
   top: 32px;
   bottom: 0;
   width: 100%;
   text-align: center;
   background-color: rgba(0, 0, 0, 0.3);
 }

 #info {
   color: black;
   font-size: 25px;
   font-family: Arial, Helvetica, sans-serif;
   position: absolute;
   top: 32px;
   bottom: 0;
   width: 100%;
   text-align: center;
   background-color: rgba(255, 255, 255, 0.3);
 }

 #gif {
   width: 80%;
   position: absolute;
   bottom: 10px;
   left: 35px;
 }
