.player {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: -10px;
  left: -10px;
}

  #player-one {
    background-color: black;
  }

  #player-two {
    background-color: red;
  }

 #field {
  margin: 0 auto;
  position: relative;
  background-image: url("img/fond.jpg");
  background-size: cover;
  background-position: center center;
  width: 97.6px;
  height: 220px;
 }
